{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Vehicle Status for {{vehicle.nickname.value}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
<div style="display: flex; margin-top: 5px;"> 

  <div style="flex: 0 0 250px;">
    <img src="{{ url_for('status.vehicleImg', vin=vehicle.vin.value) }}" class="status"/>
  </div>

{% if 'parkingPosition' in vehicle.statuses and vehicle.statuses['parkingPosition'].enabled and vehicle.statuses['parkingPosition'].carCapturedTimestamp.enabled %}
<div style="flex: 1;" id="mapid"></div>

<script>
var parkingPosition = L.latLng({{vehicle.statuses['parkingPosition'].latitude.value}}, {{vehicle.statuses['parkingPosition'].longitude.value}});
var map = L.map('mapid').setView(parkingPosition, 10);
setTimeout(function(){ map.flyToBounds([parkingPosition], { animate: true, duration: 1.0}); }, 300);


const parkingTime = new Date('{{vehicle.statuses['parkingPosition'].carCapturedTimestamp.value.isoformat()}}');

var vehicleIcon = L.icon({
    iconUrl: '{{ url_for("status.vehicleImg", vin=vehicle.vin.value) }}',
    iconSize: [77, 43],
    iconAnchor: [37, 22],
    popupAnchor: [0, -10],
    tooltipAnchor: [37, 0],
});

const osm = new L.TileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', maxZoom: 19 }
  );

const hybrid = new L.TileLayer(
    "http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}",
    { maxZoom: 20, subdomains: ["mt0", "mt1", "mt2", "mt3"] }
  );

new L.Control.Layers({ OSM: osm, Hybrid: hybrid }).addTo(map);
map.addLayer(osm);


L.marker([{{vehicle.statuses['parkingPosition'].latitude.value}}, {{vehicle.statuses['parkingPosition'].longitude.value}}], {icon: vehicleIcon}).addTo(map)
    .bindTooltip('Parking position from ' + parkingTime.toLocaleDateString() + ' ' + parkingTime.toLocaleTimeString())

</script>
{% endif %}
</div>
<hr>
{% if 'accessStatus' in vehicle.statuses and vehicle.statuses['accessStatus'].enabled and vehicle.statuses['accessStatus'].carCapturedTimestamp.enabled %}
<p><h2>Access Status (From {{vehicle.statuses['accessStatus'].carCapturedTimestamp.value.isoformat()}})</h2>
<ul>
  {% if vehicle.statuses['accessStatus'].overallStatus.enabled %}
  <li> Overall Status: {{vehicle.statuses['accessStatus'].overallStatus.value.value}}</li>
  {% endif %}
</ul>
</p>
{% endif %}

{% if 'batteryStatus' in vehicle.statuses and vehicle.statuses['batteryStatus'].enabled and vehicle.statuses['batteryStatus'].carCapturedTimestamp.enabled %}
<p><h2>Battery Status (From {{vehicle.statuses['batteryStatus'].carCapturedTimestamp.value.isoformat()}})</h2>
<ul>
  {% if vehicle.statuses['batteryStatus'].currentSOC_pct.enabled %}
  <li> Current SoC: {{vehicle.statuses['batteryStatus'].currentSOC_pct.value}}%</li>
  {% endif %}
  {% if vehicle.statuses['batteryStatus'].cruisingRangeElectric_km.enabled %}
  <li> Cruising Range Electric: {{vehicle.statuses['batteryStatus'].cruisingRangeElectric_km.value}}km</li>
  {% endif %}
</ul>
</p>
{% endif %}

{% if 'chargingStatus' in vehicle.statuses and vehicle.statuses['chargingStatus'].enabled and vehicle.statuses['chargingStatus'].carCapturedTimestamp.enabled %}
<p><h2>Charging Status (From {{vehicle.statuses['chargingStatus'].carCapturedTimestamp.value.isoformat()}})</h2>
<ul>
  {% if vehicle.statuses['chargingStatus'].remainingChargingTimeToComplete_min.enabled and vehicle.statuses['chargingStatus'].remainingChargingTimeToComplete_min.value > 0 %}
  <li> Charging time to complete: {{vehicle.statuses['chargingStatus'].remainingChargingTimeToComplete_min.value}}min</li>
  {% endif %}
  {% if vehicle.statuses['chargingStatus'].chargingState.enabled %}
  <li> Charging State: {{vehicle.statuses['chargingStatus'].chargingState.value.value}}</li>
  {% endif %}
  {% if vehicle.statuses['chargingStatus'].chargeMode.enabled %}
  <li> Charge Mode: {{vehicle.statuses['chargingStatus'].chargeMode.value.value}}</li>
  {% endif %}
  {% if vehicle.statuses['chargingStatus'].chargePower_kW.enabled and vehicle.statuses['chargingStatus'].chargePower_kW.value > 0 %}
  <li> Charge Power: {{vehicle.statuses['chargingStatus'].chargePower_kW.value}}kW</li>
  {% endif %}
  {% if vehicle.statuses['chargingStatus'].chargeRate_kmph.enabled and vehicle.statuses['chargingStatus'].chargeRate_kmph.value > 0 %}
  <li> Charge Rate: {{vehicle.statuses['chargingStatus'].chargeRate_kmph.value}}km/h</li>
  {% endif %}
</ul>
</p>
{% endif %}

{% if 'chargingSettings' in vehicle.statuses and vehicle.statuses['chargingSettings'].enabled and vehicle.statuses['chargingSettings'].carCapturedTimestamp.enabled %}
<p><h2>Charging Settings (From {{vehicle.statuses['chargingSettings'].carCapturedTimestamp.value.isoformat()}})</h2>
<ul>
  {% if vehicle.statuses['chargingSettings'].maxChargeCurrentAC.enabled %}
  <li> Max charge current AC: {{vehicle.statuses['chargingSettings'].maxChargeCurrentAC.value.value}}</li>
  {% endif %}
  {% if vehicle.statuses['chargingSettings'].autoUnlockPlugWhenCharged.enabled %}
  <li> Auto unlock plug when charged: {{vehicle.statuses['chargingSettings'].autoUnlockPlugWhenCharged.value.value}}</li>
  {% endif %}
  {% if vehicle.statuses['chargingSettings'].targetSOC_pct.enabled %}
  <li> Target SoC: {{vehicle.statuses['chargingSettings'].targetSOC_pct.value}}%</li>
  {% endif %}
</ul>
</p>
{% endif %}


</div>
{% endblock %}