weconnect[Images]~=0.41.0
HAP-python[QRCode]~=4.4.0
pypng~=0.0.21
sqlalchemy~=1.4.37
psycopg2-binary~=2.9.3
requests~=2.27.1
flask~=2.1.2
flask-login~=0.6.1
flask-caching~=1.10.1
WTForms~=3.0.1
flask_wtf~=1.0.1
flask_sqlalchemy~=2.5.1
alembic~=1.7.7
haversine~=2.5.1
