weconnect[Images]~=0.59.4
HAP-python[QRCode]~=4.9.1
pypng~=0.20220715.0
sqlalchemy~=2.0.22
psycopg2-binary~=2.9.9
requests~=2.31.0
Werkzeug~=3.0.1
Flask~=3.0.0
flask-login~=0.6.3
flask-caching~=2.1.0
WTForms~=3.1.0
flask_wtf~=1.2.1
flask_sqlalchemy~=3.1.1
alembic~=1.12.1
haversine~=2.8.0
