weconnect[Images]~=0.55.0
HAP-python[QRCode]~=4.6.0
pypng~=0.20220715.0
sqlalchemy~=2.0.16
psycopg2-binary~=2.9.6
requests~=2.29.0
Werkzeug~=2.3.4
Flask~=2.3.2
flask-login~=0.6.2
flask-caching~=2.0.2
WTForms~=3.0.1
flask_wtf~=1.1.1
flask_sqlalchemy~=3.0.3
alembic~=1.10.4
haversine~=2.8.0
