{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Database Backup & Restore{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if form %}
<div class="form-wrapper">
  <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}

      <fieldset class="form-field">
        {{ form.file.label }}
        {{ form.file }}
        {% if form.file.errors %}
          <ul class="errors">
            {% for error in form.file.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      {{ form.backup }}
      {{ form.restore }}
  </form>
</div>
{% endif %}
{% endblock %}