{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Geofence</h2>
<ul>
  <li><a href="{{ url_for('database.geofenceEdit') }}">Add Geofence</a></li>
  <li><a href="{{ url_for('database.geofenceList') }}">List Geofences</a></li>
</ul>

<h2>Trip</h2>
<ul>
  <li><a href="{{ url_for('database.tripEdit') }}">Add Trip</a></li>
  <li><a href="{{ url_for('database.tripList') }}">List Trips</a></li>
</ul>

<h2>Charging</h2>
<ul>
  <li><a href="{{ url_for('database.chargingSessionEdit') }}">Add Charging session</a></li>
  <li><a href="{{ url_for('database.chargingSessionList') }}">List Charging sessions</a></li>
</ul>
<ul>
  <li><a href="{{ url_for('database.chargerEdit') }}">Add Charging station</a></li>
  <li><a href="{{ url_for('database.chargerList') }}">List Charging stations</a></li>
</ul>
<ul>
  <li><a href="{{ url_for('database.operatorEdit') }}">Add Operator</a></li>
  <li><a href="{{ url_for('database.operatorList') }}">List Operators</a></li>
</ul>

<h2>Refueling</h2>
<ul>
  <li><a href="{{ url_for('database.refuelSessionEdit') }}">Add Refueling session</a></li>
  <li><a href="{{ url_for('database.refuelSessionList') }}">List Refueling sessions</a></li>
</ul>

<h2>Journeys</h2>
<ul>
  <li><a href="{{ url_for('database.journeyEdit') }}">Add Journey</a></li>
  <li><a href="{{ url_for('database.journeyList') }}">List Journeys</a></li>
</ul>

<h2>Tags</h2>
<ul>
  <li><a href="{{ url_for('database.tagEdit') }}">Add Tag</a></li>
  <li><a href="{{ url_for('database.tagList') }}">List Tags</a></li>
</ul>

<h2>Settings</h2>
<ul>
  <li><a href="{{ url_for('database.settingsEdit') }}">Connection Settings</a></li>
</ul>

{% endblock %}