{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


{% endblock %}

{% block header %}
  <h1>{% block title %}{% if form and form.id.data %}Edit settings for {% else %}Add a new {% endif %}refuel session{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if form %}
<div class="form-wrapper">
  <form method="POST">
      {{ form.csrf_token }}

      {{ form.id }}
      {{ form.vehicle_vin }}

      <fieldset class="form-field">
        {{ form.date.label }}
        {{ form.date }}
        {% if form.date.errors %}
          <ul class="errors">
            {% for error in form.date.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.startSOC_pct.label }}
        {{ form.startSOC_pct }}
        {% if form.startSOC_pct.errors %}
          <ul class="errors">
            {% for error in form.startSOC_pct.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.endSOC_pct.label }}
        {{ form.endSOC_pct }}
        {% if form.endSOC_pct.errors %}
          <ul class="errors">
            {% for error in form.endSOC_pct.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.mileage_km.label }}
        {{ form.mileage_km }}
        {% if form.mileage_km.errors %}
          <ul class="errors">
            {% for error in form.mileage_km.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.position_latitude.label }}
        {{ form.position_latitude }}
        {% if form.position_latitude.errors %}
          <ul class="errors">
            {% for error in form.position_latitude.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.position_longitude.label }}
        {{ form.position_longitude }}
        {% if form.position_longitude.errors %}
          <ul class="errors">
            {% for error in form.position_longitude.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.realRefueled_l.label }}
        {{ form.realRefueled_l }}
        {% if form.realRefueled_l.errors %}
          <ul class="errors">
            {% for error in form.realRefueled_l.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.realCost_ct.label }}
        {{ form.realCost_ct }}
        {% if form.realCost_ct.errors %}
          <ul class="errors">
            {% for error in form.realCost_ct.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.tags.label }}
        {{ form.tags }}
        {% if form.tags.errors %}
          <ul class="errors">
            {% for error in form.tags.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        Click to select, ctrl-click to unselect.
      </fieldset>

      <div id="positions" style="height:400px"></div>
      <script>
        const lat = {{ form.position_latitude.data or '0' }}
        const lon = {{ form.position_longitude.data or '0'}}
        var zoomlevel = 0

        if(lat != 0 && lon != 0){
          zoomlevel = 20
        }

        var startposition = L.latLng([lat, lon]);
        var map = L.map('positions').setView(startposition, zoomlevel);
        
        const osm = new L.TileLayer(
            "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors', maxZoom: 19 }
          );

        const hybrid = new L.TileLayer(
            "http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}",
            { maxZoom: 20, subdomains: ["mt0", "mt1", "mt2", "mt3"] }
          );

        new L.Control.Layers({ OSM: osm, Hybrid: hybrid }).addTo(map);
        map.addLayer(osm);


        var position = L.marker([lat, lon], {draggable:'false'}).addTo(map);

        L.Control.geocoder({defaultMarkGeocode: false}).on('markgeocode', function(e) {
          map.fitBounds(e.geocode.bbox);
          position.setLatLng(e.geocode.center)
        }).addTo(map);

        
        position.on('move', function(e){
          if(e.latlng.lat != 0 && e.latlng.lng != 0){
            element = document.getElementById('position_latitude');
            element.value = e.latlng.lat;
            element = document.getElementById('position_longitude');
            element.value = e.latlng.lng;
            position = e.latlng
            zoomlevel = 20
          }
        });

        map.on('click', function(e){
          var coord = e.latlng;
          position.setLatLng(coord); 
          map.panTo(coord)
        });
      </script>
      {% if form.id.data %}
      {{ form.save }}
      {% else %}
      {{ form.add }}
      {% endif %}
      {{ form.delete }}

  </form>
</div>
{% endif %}
{% endblock %}