{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Vehicle Parameters for {{vehicle.nickname.value}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="form-wrapper">
  <form method="POST">
      {{ form.csrf_token }}

      <fieldset class="form-field">
        {{ form.primary_capacity.label }}
        {{ form.primary_capacity(size=5) }}
        {% if form.primary_capacity.errors %}
          <ul class="errors">
            {% for error in form.primary_capacity.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.primary_capacity_total.label }}
        {{ form.primary_capacity_total(size=5) }}
        {% if form.primary_capacity_total.errors %}
          <ul class="errors">
            {% for error in form.primary_capacity_total.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.primary_wltp_range.label }}
        {{ form.primary_wltp_range(size=5) }}
        {% if form.primary_wltp_range.errors %}
          <ul class="errors">
            {% for error in form.primary_wltp_range.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.secondary_capacity.label }}
        {{ form.secondary_capacity(size=5) }}
        {% if form.secondary_capacity.errors %}
          <ul class="errors">
            {% for error in form.secondary_capacity.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.secondary_capacity_total.label }}
        {{ form.secondary_capacity_total(size=5) }}
        {% if form.secondary_capacity_total.errors %}
          <ul class="errors">
            {% for error in form.secondary_capacity_total.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.secondary_wltp_range.label }}
        {{ form.secondary_wltp_range(size=5) }}
        {% if form.secondary_wltp_range.errors %}
          <ul class="errors">
            {% for error in form.secondary_wltp_range.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.timezone.label }}
        {{ form.timezone }}
        {% if form.timezone.errors %}
          <ul class="errors">
            {% for error in form.timezone.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.sorting_order.label }}
        {{ form.sorting_order }}
        {% if form.sorting_order.errors %}
          <ul class="errors">
            {% for error in form.sorting_order.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="form-field">
        {{ form.hide.label }}
        {{ form.hide }}
        {% if form.hide.errors %}
          <ul class="errors">
            {% for error in form.hide.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      {{ form.save }}

  </form>
</div>
{% endblock %}

